@{
    ViewData["Title"] = "Home Page";
    Category cat = (Category)ViewData["Category"];
    string categoryName =  cat != null ? $"~ {cat.Name}": "";
}

<div class="row">
    <div class="col-xs-12">
        <h1>Blog Posts <small>@categoryName</small></h1>        
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-sm-6 col-md-8 col-lg-9">
        @foreach (Page p in (List<Page>)ViewData["Pages"])
        {
            <div class="post">
                <div class="post-title">
                    <h2>
                        @p.Title
                    </h2>
                    @Html.Raw($"<b>{p.Category.Name}</b>")
                    <div class="author-details">
                        @p.Author ~ @p.Date
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="post-content">
                    @Html.Raw(Markdown.ToHtml(p.Content).Replace("<script>", "&lt;script&gt;").Replace("</script>", "&lt;/script&gt;"))
                </div>
            </div>

        }
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="sidenav" data-spy="affix" data-offset-top="75" data-offset-bottom="0">
            <h3>Categories</h3>
            <div class="categories">
                @foreach (Category c in (List<Category>)ViewData["Categories"])
                {
                    <a href="/Category/@c.Id">@c.Name</a>
                }
            </div>
        </div>
    </div>
</div>
